:root {
  --primary: rgb(63, 30, 211);
  --dark: #333;
  --light: #fff;
  --grey: #dfe7df;
}

body {
  box-sizing: border-box;
  line-height: 0.5;
  font-family: Merriweather, Helvetica, sans-serif;
  color: var(--dark);
  margin: 2rem;
}
 
.container {
  width: 50%;
  margin: auto;
  padding: 20px;
  background: var(--light);
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.first {
  color: var(--primary);
}

.main {
  display: flex;
  justify-content: space-between;
}

.dot {
  border-radius: 500px;
  background: var(--primary);
  padding: 2px; 
  width: 6px;
  height: 6px; 
}
.message-1 {
  color: #9ea89e;
  font-size: small;
  
}

img {
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
hr {
  color: var(--grey);
}

.footer {
  color: var(--primary);
  margin-top: 0.9rem;
}